/**
 * File Type: Custom Spacing (margin and padding) classes
 * Author: Mahamudul Hassan Sazal
 * Author Website: http://www.sazalahmed.com
 * Author Email: sazal.web@gmail.com
 */

/* ------------------------------------------ */
/* Margin All */
/* ------------------------------------------ */



/* ------------------------------------------ */
/* Margin Top */
/* ------------------------------------------ */



/* ------------------------------------------ */
/* Margin Bottom */
/* ------------------------------------------ */



/* ------------------------------------------ */
/* Margin Left */
/* ------------------------------------------ */


/* ------------------------------------------ */
/* Margin Right */
/* ------------------------------------------ */





/* ------------------------------------------ */
/* Padding All */
/* ------------------------------------------ */



/* ------------------------------------------ */
/* Padding Top */
/* ------------------------------------------ */

.pt_100 {
	padding-top: 100px !important;
}

.pt_140 {
	padding-top: 140px !important;
}

.pt_145 {
	padding-top: 145px !important;
}

.pt_150 {
	padding-top: 150px !important;
}



/* ------------------------------------------ */
/* Padding Bottom */
/* ------------------------------------------ */

.pb_80 {
	padding-bottom: 80px !important;
}

.pb_120 {
	padding-bottom: 120px !important;
}



/* ------------------------------------------ */
/* Padding Left */
/* ------------------------------------------ */

.pl_50 {
	padding-left: 50px !important;
}

.pl_60 {
	padding-left: 60px !important;
}


/* ------------------------------------------ */
/* Padding Right */
/* ------------------------------------------ */

.pr_60 {
	padding-right: 60px !important;
}





/* ------------------------------------------ */
/* For Responsive Layouts */
/* ------------------------------------------ */
@media only screen and (min-width: 1200px) {

	/* ------------------------------------------ */
	/* Margin All */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Margin Top */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Margin Bottom */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Margin Left */
	/* ------------------------------------------ */


	/* ------------------------------------------ */
	/* Margin Right */
	/* ------------------------------------------ */





	/* ------------------------------------------ */
	/* Padding All */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Padding Top */
	/* ------------------------------------------ */


	/* ------------------------------------------ */
	/* Padding Bottom */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Padding Left */
	/* ------------------------------------------ */


	/* ------------------------------------------ */
	/* Padding Right */
	/* ------------------------------------------ */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	/* ------------------------------------------ */
	/* Margin All */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Margin Top */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Margin Bottom */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Margin Left */
	/* ------------------------------------------ */


	/* ------------------------------------------ */
	/* Margin Right */
	/* ------------------------------------------ */





	/* ------------------------------------------ */
	/* Padding All */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Padding Top */
	/* ------------------------------------------ */


	/* ------------------------------------------ */
	/* Padding Bottom */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Padding Left */
	/* ------------------------------------------ */


	/* ------------------------------------------ */
	/* Padding Right */
	/* ------------------------------------------ */
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	/* ------------------------------------------ */
	/* Margin All */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Margin Top */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Margin Bottom */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Margin Left */
	/* ------------------------------------------ */


	/* ------------------------------------------ */
	/* Margin Right */
	/* ------------------------------------------ */





	/* ------------------------------------------ */
	/* Padding All */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Padding Top */
	/* ------------------------------------------ */


	/* ------------------------------------------ */
	/* Padding Bottom */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Padding Left */
	/* ------------------------------------------ */


	/* ------------------------------------------ */
	/* Padding Right */
	/* ------------------------------------------ */
}


@media only screen and (max-width: 767px) {

	/* ------------------------------------------ */
	/* Margin All */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Margin Top */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Margin Bottom */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Margin Left */
	/* ------------------------------------------ */


	/* ------------------------------------------ */
	/* Margin Right */
	/* ------------------------------------------ */





	/* ------------------------------------------ */
	/* Padding All */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Padding Top */
	/* ------------------------------------------ */


	/* ------------------------------------------ */
	/* Padding Bottom */
	/* ------------------------------------------ */



	/* ------------------------------------------ */
	/* Padding Left */
	/* ------------------------------------------ */


	/* ------------------------------------------ */
	/* Padding Right */
	/* ------------------------------------------ */
}